*{
    margin: 0;
    padding: 0;

}

h1 {
    text-align: center;
    width: 350px;
    background-color: white
    font-size: 28px;
    margin-left: 450px;
    margin-top: 25px;
    
}

#game {
    width: 700px;
    height: 500px;
    border: 2px solid rgb(139, 42, 163);
    background-image: url(https://img.freepik.com/free-vector/desert-landscape-background-video-conferencing_23-2148647356.jpg);
    background-size:cover;
    margin-left: 300px;
    margin-top: 50px;

    
    
}

p { 
    text-align: center;
    font-size: 25px;
    margin-top: 25px;

}

#dino {
    height: 65px;
    width: 65px;
    position:relative;
    top: 437px;
    background-color:green;
    
}

rock{

}