*{
    margin: 0;
    padding: 0;

}

h1 {
    text-align: center;
    width: 350px;
    background-color: white
    font-size: 25px;
    margin-left: 450px;
    margin-top: 25px;
    
}

#game {
    width: 700px;
    height: 500px;
    border: 2px solid rgb(139, 42, 163);
    background-image: url(https://img.freepik.com/free-vector/desert-landscape-background-video-conferencing_23-2148647356.jpg);
    background-size:cover;
    margin-left: 300px;
    margin-top: 50px;

    
    
}

p { 
    text-align: center;
    font-size: 25px;
    margin-top: 25px;
    margin-right: 25px;

}

#dino {
    height: 90px;
    width: 75px;
    position:relative;
    top: 420px;
    background-image: url(https://media1.giphy.com/media/wbMCFUYDMztMJc8NhJ/giphy.gif?cid=6c09b952v4yk70khopsnytwh4zbhi4t0qh1jtncy9e6nn4x7&rid=giphy.gif&ct=s);
    background-size: cover;

    
}

rock{

}