*{
    margin: 0;
    padding: 0;

}

h1 {
    text-align: center;
    margin-top: 25px;
    margin-right: 200px;
    
}

#game {
    width: 700px;
    height: 500px;
    border: 2px solid rgb(139, 42, 163);
    background-image: url(https://img.freepik.com/free-vector/desert-landscape-background-video-conferencing_23-2148647356.jpg);
    background-size:cover;
    margin-left: 300px;
    margin-top: 50px;


    
    
}

p { 
    text-align: center;
    font-size: 25px;
    margin-top: 25px;
    margin-right: 55px;
    font-style: bold;

}

#dino {
    height: 90px;
    width: 75px;
    position:relative;
    top: 420px;
    background-image: url(https://media1.giphy.com/media/wbMCFUYDMztMJc8NhJ/giphy.gif?cid=6c09b952v4yk70khopsnytwh4zbhi4t0qh1jtncy9e6nn4x7&rid=giphy.gif&ct=s);
    background-size: cover;

    
}

#rock {
    height:100px;
    width: 150px;
    position: relative;
    background-image: url(https://pbs.twimg.com/media/D8Kygw6XYAEeEg8.png);
    background-size:cover;
    top: 310px;
    left: 560px;

}
